.announcement {

  display: flex;
  justify-content: space-between;
  padding-top: 9.4%;
  padding-bottom: 6.2%;
}

@media screen and (max-width: 703px) {
  .announcement  {
    flex-wrap: wrap;
  }
}

.announcement__left-box {
  width: 50%;
  padding-top: 13.8%;

  color: #520F38;
}

@media screen and (max-width: 1220px) {
  .announcement__left-box  {
    padding-top: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .announcement__left-box  {
    padding-top: 5%;
  }
}

@media screen and (max-width: 800px) {
  .announcement__left-box  {
    padding-top: 2%;
  }
}

@media screen and (max-width: 703px) {
  .announcement__left-box  {
    width: 100%;
    padding-bottom: 8%;
  }
}

.announcement__left-box h2 {
  margin: 0;
  margin-bottom: 6.5%;

  font-size: 34px;

}

@media screen and (max-width: 1220px) {
  .announcement__left-box h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .announcement__left-box h2 {
    font-size: 24px;
  }
}


.announcement__left-box p {
  max-width: 543px;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1220px) {
  .announcement__left-box p {
    padding-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .announcement__left-box p {
    font-size: 16px;
    padding-right: 20px;
  }
}

.announcement__text {
  padding-top: 2.8%;
}

.announcement__right-box {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 703px) {
  .announcement__right-box {
    width: 100%;
  }
}
