.description {

  padding-top: 12.8%;
  padding-bottom: 5.2%;
}

@media screen and (max-width: 1220px) {
  .description {
    width: 240px;
    padding-top: 6.4%;
    padding-bottom: 2.6%;
  }
}

@media screen and (max-width: 554px) {
  .description {
    padding-top: 5%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 1220px) {
  .description__text {
    width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 554px) {
  .description__text {
    width: 290px;
    max-width: 290px;
  }
}

.description__text img {
  width: 487px;

  margin-left: -9px;
}

@media screen and (max-width: 1220px) {
  .description__text img {
    width: 240px;
    margin-left: 0;
  }
}

@media screen and (max-width: 554px) {
  .description__text img {
    width: 200px;
  }
}

.description__paragraph {
  margin: 0;
  margin-top: 0.6%;

  font-size: 36px;
  line-height: 1.5;
  font-weight: 500;
  color: #FF9C5B;
  text-transform: uppercase;
}

@media screen and (max-width: 1220px) {
  .description__paragraph {
    margin-top: 3%;
    font-size: 20px;
  }
}

.description__text h1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 13.4%;


  color: #EE303C;
  text-transform: uppercase;
}

@media screen and (max-width: 1220px) {
  .description__text h1 {
    margin-top: 3%;
    margin-bottom: 90%;
  }
}

@media screen and (max-width: 864px) {
  .description__text h1 {
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 554px) {
  .description__text h1 {
    margin-bottom: 0;
  }
}

.description__desc {
  margin-bottom: 1%;

  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1220px) {
  .description__desc {
    margin-bottom: 0;
    font-size: 14px;
  }
}

.description__name {
  font-size: 36px;
  font-weight: 500;
}

@media screen and (max-width: 1220px) {
  .description__name {
    font-size: 20px;
  }
}

.description__btn {
  display: flex;
}

@media screen and (max-width: 554px) {
  .description__btn {
    display: none;
  }
}

.description__btn a {
  width: 158px;
  max-width: 158px;
  padding-top: 5px;
  padding-bottom: 4px;

  font-size: 16px;
  font-weight: 600;
  color: #520F38;
  text-transform: uppercase;
  text-align: center;


  border: 2px solid #520F38;

  background-image: url("../img/bg/btn@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/btn@2x.png");
  }
}

.description__btn a:hover {
  opacity: 0.8;
}

.description__btn a:active {
  opacity: 0.5;
}


@media screen and (max-width: 864px) {
  .description__btn a {
    max-width: 108px;
    padding-top: 3px;
    padding-bottom: 2px;

    font-size: 14px;
  }
}
