.footer {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #FBD189;

  background-color: #520F38;
}

.footer a {
  color: #FBD189;

  border-bottom: 1px solid #FBD189;
}

.footer a:hover {
  opacity: 0.8;
}
