.site-list__link:hover {
  opacity: 0.8;
}

.site-list__link:active {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .site-list {
    flex-direction: column;
  }
}

.site-list a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .site-list__item {
    padding: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .site-list__item .site-list__link {
    font-size: 18px;
    color: #520F38;
  }
}
